<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.googlemap_pra">

    <!--允許程式使用網路權限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--允許程式存取粗略位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--允許程式存取精確位置-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!--目標版本為28以上就要設定apache-->
        <uses-library android:name="org.apache.http.legacy"
                      android:required="false"/>

        <!--meta data放入在google API console取得的API金鑰-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA3YWplfsR7BvQFTkX4J8vk8BQUEEirVnI"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>